.articulo {
    margin: 10px;
    background: aquamarine;
    padding: 10px;
    border-radius: 5px;
}

.articulo-titulo {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.articulo img {
    width: auto;
    height: 100px;
    background-size: white;
    padding: 10px;
    border-radius: 10px;
}

.contenido {
    padding: 10px;   
    margin: 10px;
    padding: 10px;
    background-color: #f5f5f5;
}
